*{
    margin: 0;
    padding: 0;
}
.contact{
    display: flex;
    flex-direction: row;
    height:20px;
    width: 95vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: rgb(77, 74, 107);
    padding: 5px;

}
.contact img{
    height:18px;
}
.contact>div{
    display: flex;
    flex-direction: row;
}
.contact-left div{
    display: flex;
    flex-direction: row;
}
.mail{
    margin : auto 10px;
}
.mail div{
    margin: 2px;
}
.contact-right img{
    margin:auto 8px ;
}
.line{
    background-color:grey;
    height: 1px;
    width: 95vw;
    margin: auto;
}
.navbar{
    width: 95vw;
    margin: 10px auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: rgb(52, 47, 105);
    position: sticky;
}
.navbar img{
    height: 40px;
    margin-top: 8px;
}
.navbar :nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar :nth-child(1) div{
    margin: 20px;
    padding: 2px;
}
.navbar :nth-child(2){
    align-items: center;
    justify-content: center;
}
.btn{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px 22px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}
.main-container{
    display: flex;
    flex-direction: column;
    background-image: url(assets/asset\ 21.jpeg);
    height: 90vh;
    justify-content: center;
    background-size: 80vw;
    background-repeat: no-repeat;
    /* background-color: red; */
    background-position: right;


}
.main-box{
    position: relative;
    left: 20vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #004f63;
    padding: 0;
    margin: 0;
}
.main-box >:nth-child(1){
    font-size: 45px;
    font-weight: 700;

}
.main-box >:nth-child(2){
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}
.main-box >:nth-child(3){
    font-size: 45px;
    font-weight: 300;
    margin: 0;
    padding: 0;

}
.main-box >:nth-child(4){
    margin: 8px auto;

}

.main-box button{
    font-size: 15px;
    margin: 10px auto;
}